// Variables

// ---------------------------------------------------------------------------
// Sizing Units

$size-base          : .4rem;            // 4px
$size-small         : $size-base * 2;   // 8px
$size-default       : $size-base * 3;   // 12px
$size-medium        : $size-base * 6;   // 24px
$size-large         : $size-base * 9;   // 36px
$size-extra-large   : $size-medium * 2; // 48px

$site-max-width:      1200px !default;

$em-base:             10px;        
$base-font-size:      1.7rem !default;
$small-font-size:     0.8rem !default;
$lead-font-size:      2rem !default;
$title-font-size:     5.2rem !default;
$h1-font-size:        4rem !default;
$h2-font-size:        3rem !default;
$h3-font-size:        2rem !default;
$h4-font-size:        1.7rem !default;
$h5-font-size:        1.5rem !default;
$h6-font-size:        1.3rem !default;
$base-line-height:    1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height:    1.7 !default;

$font-size-1:         .8125rem !default;


$helvetica:           helvetica, arial, sans-serif;
$georgia:             georgia, serif;
$font-sans:           'Source Sans Pro', $helvetica !default;
$font-serif:          'Merriweather', $georgia !default;
$font-base:           $font-sans !default;

$font-normal:         400 !default;
$font-bold:           700 !default;

// Color
@import 'base/colors';

// Mobile First Breakpoints
$small-screen:      481px !default;
$medium-screen:     600px !default;
$large-screen:      1201px !default;

$screen-sm:         36rem !default;
$screen-md:         48rem !default;
$screen-lg:         62rem !default;
$screen-xl:         75rem !default;
$screen-xxl:        90rem !default;

// Grid column counts by screen size
$grid-columns-small: 1 !default;
$grid-columns-medium: 6 !default;
$grid-columns-large: 12 !default;

// @media single-keyword helpers
$small: new-breakpoint(min-width $small-screen $grid-columns-small) !default;
$medium: new-breakpoint(min-width $medium-screen $grid-columns-medium) !default;
$large: new-breakpoint(min-width $large-screen $grid-columns-large) !default;


// Set the base path for assets (used for font and image paths below)
$asset-path: '../' !default;

// Relative font and image file paths
$font-path: '#{$asset-path}fonts' !default;
$image-path:  '../img' !default;

// Set $asset-pipeline to true if you're using the Rails Asset Pipeline
$asset-pipeline:      false !default;

// Magic Numbers
$text-max-width:                80ch !default; // 66 characters per line
$lead-max-width:                77rem !default;
$site-max-width:                1040px !default;
$site-margins:                  3rem !default;
$site-margins-mobile:           1.5rem !default;
$article-max-width:             600px !default;
$input-max-width:               46rem !default;
$label-border-radius:           2px !default;
$checkbox-border-radius:        2px !default;
$border-radius:                 3px !default;
$button-border-radius:          5px !default;
$box-shadow:                    0 0 2px $color-shadow !default;
$focus-outline:                 2px dotted $color-gray-light !default;
$focus-spacing:                 3px !default;
$nav-width:                     951px !default;
$header-height:                 72px !default;
$sub-header-height:             48px !default;
$total-header-height:           $header-height + $sub-header-height;
$sidenav-current-border-width:  0.4rem !default; // must be in rem for math
$form-padding:                  0.8rem !default;

// 44 x 44 pixels hit target following Apple iOS Human Interface
// Guidelines
$hit-area: 4.4rem !default;

$spacing-x-small: 0.5rem;
$spacing-small: 1rem;
$spacing-md-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;

// Grid layout
$grid-columns : 12;
$grid-gutter: ($base-font-size * 1.5);