.treas-accent-card {
    background-color: $color-blue-darker;
    padding: 3.2rem 4rem;
    color: #fff;
    background-image: url(/img/treas-seal-bg.png);
    background-repeat: no-repeat;
    background-position: -34% 60%;
    background-size: 140% auto;

    &--title {
        margin: 0 0 0 0;
        @include h1;
        line-height: 1.1;
        color: #fff;
        @include breakpoint (L, up){
            max-width: 90%;
        }
    }
    &--text {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        color: #fff;
        @include breakpoint (L, up){
            max-width: 90%;
        }
    }
    &--action {
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;
        color: #fff;
        background:transparent url(/img/right-arrow-circle.svg) no-repeat 0 center;
        background-size: 2.8rem 2.8rem;
        padding: 0.6rem 0;
        padding-left: 3.8rem;
        border: none;
        transition: all .4s ease;
        border-radius: none;

        &:hover, &:focus {
            background-color: transparent;
            color: #fff;
            opacity: .8;
        }
    }
}


  .treas-accent-card--primary {
    background-color: $color-primary;
  }

  .treas-accent-card--primary-darker {
    background-color: $color-primary-darker;
  }

  .treas-accent-card--secondary {
    background-color: $color-secondary;
  }

  .treas-accent-card--secondary-darker {
    background-color: $color-secondary-dark;
  }

  .treas-accent-card--base {
    background-color: #757575;
  }

  .treas-accent-card--base-darker {
    background-color: #3D3D3D;
  }

  .treas-accent-card--red {
    background-color: #A41E26;
  }

  .treas-accent-card--red-darker {
    background-color: #7F2324;
  }

  .treas-accent-card--gold {
    background-color: #C49F04;
    text-shadow: 1px 1px 0px #000;
  }

  .treas-accent-card--gold-darker {
    background-color: #655731;
  }
 
