$card-col-12: 100%;
$card-col-6: 48.5%;
$card-col-4: 31.5%;
$card-col-3: 23.5%;

.treas-app-card {
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-basis: $card-col-4;
    margin: 5rem 0 2rem;
    @media screen and (max-width: 60rem){
      flex-basis: $card-col-6;
    }
    @media screen and (max-width: 40rem){
      flex-basis: $card-col-12;
    }
    &--wrapper {
      display: flex;
      flex: auto;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      &:after {
        content: "";
        flex: auto;
        flex-basis: $card-col-4;
        flex-grow: 0;
      }
    }
    &--content {
      display: flex;
      flex-direction: column;
      background: #f1f1f1;
      padding: 2rem 3rem 3rem;
      height: 100%;
    }
    &--heading {
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.18;
      font-size: 2.4rem;
      color: #0053a2;
      font-weight: 700;
      max-width: 45ch;
      margin: 2rem auto 0;
    }
    &--desc {
      font-size: 1.6rem;
      max-width: 36ch;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
    &--text {
      margin-bottom: 1em;
      margin-top: 1em;
      font-size: 1.5rem;
      line-height: 1.5;
    }
    &--graphic {
      position: relative;
      margin: 0 auto;
      width: 84px;
      height: 84px;
      background-color: #0053a2;
      border-radius: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top: -64px;
    }
    &--icon {
      width: 44px;
      height: 44px;
      display: block;
    }
    &--action {
      margin-top: auto;
    }
    .treas-btn {
      background-color: transparent;
      max-width: 28ch;
    }
    
  }