/* Form fields */
.treas-input,
.treas-textarea {
    border: 1px solid $color-gray-light;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    padding: $form-padding - 0.1 $form-padding $form-padding;
    font-size: 1.7rem;
    display: inline-block;
    height: 3.9rem;

    &--block {
        width: 100%;
        display: block;
    }
    &--small {
        font-size: 1.5rem;
        height: 3rem;
    }
    &--large {
        height: 4.8rem;
        font-size: 2rem;
        padding-left: 1.2rem;
    }
    &--error {
        border-color: $color-red-dark;
        box-shadow: 0 0 0 0.1rem $color-red-dark inset;
        background: $color-red-lightest;
    }
    &--success {
        border-color: $color-green;
        box-shadow: 0 0 0 0.1rem $color-green inset;
    }
    &:focus {
        box-shadow: 0 0 0 0.1rem $color-cool-blue-dark inset;
    }
    &:disabled {
        background-color: $color-gray-lightest;
        color: $color-gray-light;
    }
    @include placeholder {
        color: $color-gray-medium;
    }
}

.treas-input {
    &--round {
        border-radius: 5rem;
        padding: $form-padding - 0.1 $form-padding + 0.5 $form-padding;
    }
}

.treas-textarea {
    & {
        min-height: 15rem;
        display: block;
        max-width: none;
        width: 100%;
        line-height: $base-line-height;
        padding: $form-padding;
        resize: vertical;
      }
}

.treas-select {
    border: 1px solid $color-gray-light;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    padding: $form-padding;
    font-size: 1.7rem;
}



// Copied from FSA
.treas-form-list {

    @include reset-ul();
  
    > li {
  
      @include reset-li();
      margin-top: .5em;
  
      > .treas-form-list {
        margin-left: $size-medium;
      }
  
    }
  
  }
  

// Mostly a straight copy of USWDS checkbox and radio elements,
// with a few adjustments

.treas-checkbox,
.treas-radio {

  // @include sr-only();
  position: absolute;
  opacity: 0;
  cursor: pointer;

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: .4em .4em 0 0;
    position: static;
    width: auto;
    opacity: 1;
  }

}

.treas-checkbox +  label,
.treas-radio + label,
.treas-checkbox + [type="hidden"] + label,
.treas-radio + [type="hidden"] + label {

  $indent-amount: 1.7em;
  cursor: pointer;
  font-weight: $font-normal;
  text-indent: -$indent-amount;
  margin-left: $indent-amount;
  margin-right: $size-default;
  display: inline-block;

}

.treas-checkbox + :not(label),
.treas-radio + :not(label){
  &:before {
    display: block;
    background-color: $color-gray;
    padding: $size-default;
    margin-bottom: 1em;
    content: 'CSS ERROR: checkbox or radio requires a <label> element immediately following it. Refer to FSA Design System for guidance. ';
    color: orangered;
    border: 4px solid orangered;
    font-size: 2rem;
    font-weight: bold;
  }
}

.treas-radio + label,
.treas-radio + [type="hidden"] + label {
  $indent-amount: 1.6em;
  text-indent: -$indent-amount;
  margin-left: $indent-amount + .1em;
}

.treas-checkbox + label::before,
.treas-radio + label::before,
.treas-checkbox + [type="hidden"] + label::before,
.treas-radio + [type="hidden"] + label::before {

  background: white;
  border-radius: $border-radius;
  box-shadow: 0 0 0 1px $color-gray-light;
  content: '\a0';
  display: inline-block;
  height: 1.8rem;
  line-height: .8;
  margin-right: .6em;
  text-indent: .15em;
  vertical-align: .2em;
  width: 1.8rem;
  margin-left: .1rem;

  .lt-ie9 & {
    display: none;
  }

}

.treas-radio + label::before,
.treas-radio + [type="hidden"] + label::before {
  box-shadow: 0 0 0 2px white, 0 0 0 3px $color-gray-light;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 100%;
}

.treas-checkbox:indeterminate + label::before,
.treas-checkbox:checked + label::before,
.treas-radio:checked + label::before,
.treas-checkbox:indeterminate + [type="hidden"] + label::before,
.treas-checkbox:checked + [type="hidden"] + label::before,
.treas-radio:checked + [type="hidden"] + label::before {
  background-color: $color-primary;
  box-shadow: 0 0 0 1px $color-primary;
}

.treas-radio:checked + label::before,
.treas-radio:checked + [type="hidden"] + label::before {
  // scss-lint:disable all
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px $color-primary
  ;
}

.treas-radio:focus + label::before,
.treas-radio:focus + [type="hidden"] +  label::before {
  // scss-lint:disable all
  box-shadow:
    0 0 0 .2rem white,
    0 0 0 .4rem $color-primary,
    0 0 .3rem .4rem $color-cool-blue,
    0 0 .7rem .4rem $color-cool-blue
  ;
}

.treas-checkbox:checked + label::before,
.treas-checkbox:checked + [type="hidden"] + label::before {
  background-image: url('#{$image-path}/correct8.png');
  background-image: url('#{$image-path}/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.treas-checkbox:indeterminate + label::before,
.treas-checkbox:indeterminate + [type="hidden"] + label::before {
  background-image: url('#{$image-path}/dash.png');
  background-image: url('#{$image-path}/dash.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.treas-checkbox:focus + label::before,
.treas-checkbox:focus + [type="hidden"] + label::before {
  box-shadow: 0 0 0 1px white, 0 0 0 3px $color-primary;
}

.treas-checkbox:disabled + label,
.treas-radio:disabled + label,
.treas-checkbox:disabled + [type="hidden"] + label,
.treas-radio:disabled + [type="hidden"] + label {
  color: $color-gray-light;
  cursor: not-allowed;
}

.treas-checkbox:disabled + label::before,
.treas-radio:disabled + label::before,
.treas-checkbox:disabled + [type="hidden"] + label::before,
.treas-radio:disabled + [type="hidden"] + label::before {
  background-color: $color-gray-lightest;
  cursor: text;
  cursor: not-allowed;
  opacity: .5;
}

.treas-radio:disabled + label::before,
.treas-radio:disabled + [type="hidden"] + label::before {
  // scss-lint:disable all
  box-shadow:
    0 0 0 2px $color-gray-light,
    0 0 0 3px $color-gray
  ;
}

.treas-radio:disabled:checked + label::before,
.treas-radio:disabled:checked + [type="hidden"] + label::before {
  background-color: $color-primary;
  // scss-lint:disable all
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px $color-primary
  ;
  opacity: .3;
}

.treas-checkbox:disabled:checked + label::before,
.treas-checkbox:disabled:checked + [type="hidden"] + label::before {
  background-color: $color-primary;
  box-shadow: 0 0 0 1px $color-primary;
  opacity: .3;
}