.treas-input-group {
    position: relative;
}
.treas-input--search {
    border-radius: 2rem;
    font-size: 1.7rem;
    padding: 1.5rem 2rem;
    height: 3.9rem;
    border: 1px solid $color-gray-light;
    width: 100%;
}

.treas-btn--search {
    position: absolute;
    padding: 0 .7rem;
    right: 0.8rem;
    z-index: 9;
    background: transparent;
    top: 1px;
    border:none;
    height: 3.9rem;
    border-radius: 0rem 2rem 2rem 0rem;

    .icon-search {
        font-size: 2.4rem;
        color: $color-primary;
    }
}