// Tables

.treas-table {
    text-align: left;
    margin: 1em 0;
    width: 100%;
  
    caption {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: left;
    }
    thead th {
      padding: .5rem .5rem;
      font-weight: 700;
      a {
        text-decoration: none;
        color: $color-gray-dark;
        &:hover, &:focus {
          color: $color-primary;
          text-decoration: underline;
        }
      }
    }
    tbody tr {
      background-color: #fff;
      &:nth-child(odd) {
        background-color: $color-gray-lightest-lite;
      }
      th {
        font-weight: normal;
        padding: .5rem .5rem;
      }
    }
    td {
      padding: .5rem .5rem;
      font-weight: 400;
    }
    &--scroll {
      @include breakpoint(M, down) {
        overflow-x: scroll;
        display: block;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
