.select2-additional-display-field {
    padding: 0 10px;
  }

.p4p-form--block {
    margin: 5px 0;

    label  {
        margin-top: 10px;
        &.no-margin-top {
            margin-top: 0;
        }
    }

    .label-info {
        font-size: 15px;
        color: #717171;
        background-color: transparent;
    }
}

h3.treas-list-heading {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 20px;
    background-color: #f5f5f5;
    padding: 20px;
    color: #333;
}

.treas-list-heading--img {
    margin-right: 17px;
}

.treas-form-col {
    padding: 0 15px;
}

.treas-btn--delete {
    border:none;
    width: 32px;
    height: 32px;
    background: url("cancel.svg");
    background-size: contain;
    margin-top: 42px;
}


.treas-form-list--inline {
    li {
        display: inline;
        margin-right: 30px;
    }
}


.treas-btn--primary {
    &:hover, &:focus {
        color: #fff;
    }
}

.display-flex {
    display: flex;
    align-items: middle;
}

.treas-btn--secondary {
    border-color: #4b803d !important;
    color: #4b803d !important;
    padding: 13px 32px;
}


.treas-btn--submit {
    padding: 2.6rem 3.5rem;
    &:hover {
        color: #fff !important;
    }
    &.treas-btn--ghost {
        &:hover, &:focus {
            background-color: $color-primary;
        }
    }
}


.treas-date-picker input {
    border-radius: 5rem;
    padding: .6rem 1.3rem .7rem !important;
    padding-left: 1.2rem;
    border: 1px solid #aeb0b5;
    max-width: 100%;
    margin: 0;
    font-size: 1.7rem;
    height: auto;
}

.treas-date-picker button {
    border-radius: 5rem;
    padding: .6rem 1.3rem .7rem !important;
    padding-left: 1.2rem;
    border: 1px solid #aeb0b5;
    max-width: 100%;
    margin: 0;
    font-size: 1.7rem;
    height: auto;
    border-left: none;
}

label.required:after {
    content: '*';
    color: red;
    font-size: 24px;
    line-height: 0;
    position:relative;
    top:5px;
    left: 1px;
}

.required-text {
    color: red;
    font-size: 24px;
}

.treas-record-picker {
    border-radius: 5rem;
    padding: .3rem 1.3rem .7rem;
    padding-left: 1.2rem;
    border: 1px solid #aeb0b5;
    max-width: 100%;
    margin: 0;
    font-size: 1.7rem;
    min-height: 39px;
    max-height: 39px;
    overflow: hidden;
    background-color: #fff;

    &.treas-input--error {
        background-color: $color-red-lightest;
    }
}

.treas-record-picker .select2-choice {
    border:none;
    padding: 0;
    display:block;
    box-shadow:none !important;
    background-color: transparent !important;
    &:focus {
        outline:none !important;
    }
}

.treas-record-picker .select2-arrow b {
    background-image: url("search-icon.svg") !important;
    background-position: right 0rem center !important;
    background-repeat: no-repeat !important;
    background-size: 1.5rem !important;
}

.treas-record-picker .select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
    background-color: transparent;
}

.select2-container-active {
    box-shadow: 0 0 0 0.1rem $color-cool-blue inset;
    outline: 2px dotted #aeb0b5;
    outline-offset: 3px;
}

.treas-select {
    padding-top: 0.7rem;
    background-image: url("arrow-down-primary.svg") !important;
}

.treas-checkbox:checked + label::before,
.treas-checkbox:checked + [type="hidden"] + label::before {
    background-image: url('correct8.svg') !important;
}

.treas-alert {
  margin: 10px 0px;
  padding: 15px 15px;
  border-left: solid 5px;
  background-color: #f1f1f1;
  
  &--list {
    padding: 15px 10px 0;
  }
  &--heading {
    font-weight: 600;
    font-size: 2.1rem;
    margin: 0px;
    color: #111;
  }
  &--message {
    color: #000;
    padding-bottom: 4px;
    margin-left: 20px;
    font-size: 1.7rem;
  }
  &--error {
    background-color: #f9e4e5;
    border-color: #cd2026;
    .treas-alert--heading {
        color: #cd2026;
    }
  }

}

.treas-btn--lightblue {
    background-color: #0099FF;
    color: #fff;

    &.treas-btn--ghost {
        color: #0099FF;
        border-color: #0099FF;
        background-color: #fff;
    }

}


.treas-jump {
    &--list {
        @include reset-ul();

        &-fixed {
            position: fixed;
            max-width: 270px;
        }
        &-margin-top {
            margin-top: 74px;
        }
    }

    &--item {
        @include reset-li();
        position:relative;
    }

    &--link {
        color: #717171;
        background: #e8e8e8;
        padding: 10px 40px 10px 12px;
        font-family: "Source Sans Pro";
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: flex;
        width: 100%;
        align-items: center;
        height: 72px;
        line-height: 1;
        text-decoration: none;
        font-size: 1.7rem;

        &:hover, &:focus  {
            .treas-jump--item-number {
                background: #083c6f;
            }
        }
        &-active {
            background: #0096ff;
            color: #fff;

            &:hover, &:focus {
                color: #fff;
            }

            &::after {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border-top: 36px solid transparent;
                border-bottom: 36px solid transparent;
                border-left: 12px solid #0096ff;
                position:absolute;
                right:-12px;
                top:0;        
            }
        }

        &-active .treas-jump--item-number {
            background-color: #083c6f;
        }
    }
    &--item-number {
        display:block;
        margin-right: 10px;
        background: #717171;
        color: #fff;
        border-radius: 100%;
        min-width: 28px;
        min-height: 28px;
        text-align:center;
        line-height:28px;
    }

}

