/*SECTION 508*/

*[href]:focus, *[onclick]:focus, input:focus, 
select:focus, textarea:focus, button:focus,
*[type="button"]:focus, a:focus, *[type="submit"]:focus {
  outline: 2px dotted #aeb0b5;
  outline-offset: 3px;
}
[hidden] {
  display: none !important;
}
.sr-only {
  text-indent: -9999rem;
  position: absolute;
}